#index-body
{
    background-color: #1e272e !important;
    color: #f53b57 !important;
}

.nav-link
{
    transition: 0.6s;
    border-bottom: 2px transparent solid;
    padding-bottom: 10px;
}

.nav-link:hover
{
    border-bottom: 2px #f53b57 solid;
    padding-bottom: 0;
}

#div-octave-input
{
    display: none;
    font-weight: bold;
    font-size: 22px;
}

#input-command{
    border: none;
    background-color: transparent;
    font-size: 22px;
}

#input-command:focus{
    outline: none;
}

#span-octave
{
    color: #f53b57;
    font-size: 22px;
    font-weight: bold;
}

#p-logged-command
{
    font-size: 22px;
}

#ul-help
{
    display: none;
}

#task-table
{
    width: 50%;
    margin: 8vw auto auto auto;
}

#svg-svg
{
    z-index: 1; !important;
}

#nav-menubar
{
    z-index: 5; !important;
}

#export-button
{
    margin-left: 10px;
    background-color: transparent;
    border: 2px #f53b57 solid;
}

#export-button:hover
{
    color: white;
    background-color: #f53b57;
}

#export-button:focus
{
    box-shadow: none;
}

.export:focus
{
    background-color: #f53b57;
}

.export:hover
{
    color: white;
    background-color: #f53b57;
}
