body, html
{
    margin: 0;
    padding: 1vh;
}

#btn-start-octave {

    color: red;
}

#pendulum-container
{
    width: 90vw;
    height: 90vh;
    background-color: white;
    margin: auto;
}

#div-chart
{
    width: 40%;
    height: 100%;
    background: white;
    float: left;
    position: relative;

    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
}

#chart
{
    height: 70vh;
    width: 70vh;
}

#div-anim
{
    width: 60%;
    height: 100%;
    background: white;
    position: relative;
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-pendulum
{
    background-color: white;
}

#r-range
{
    width: 800px;
}

#btn-draw-graph
{
    border: none;
    background-color: transparent;
}

#btn-draw-graph:hover:not(:disabled)
{
    cursor: pointer;
    transform: scale(1.2);
}

