body
{
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav div
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidenav div:hover
{
    color: #f1f1f1;
}

.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    text-align: center;
}

#main
{
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px)
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#span-open-nav
{
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    margin-bottom: 20px;
    font-size:25px;
    cursor:pointer;
    display: inline-block;
    color: white;
    background-color: black;
}

#img-diagram
{
    border-radius: 20px;
    border: 2px solid black;
}

#div-diagram
{
    width: 100%;
    height: 700px;
    background-color: white;
}


/* classes/methods table */

table
{
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th
{
    cursor: pointer;
    background-color: #1e272e;
    color: white;
}
th:hover
{
    background-color: darkslategrey;
}

th, td
{
    text-align: left;
    padding: 10px;
}

tr:nth-child(even)
{
    background-color: #f2f2f2
}

#div-table
{
    /*background-color: aqua;*/
    padding: 16px;
}

.table-checkboxes
{
    margin-left: 20px;
}

#div-endpoints
{
    /*background-color: aqua;*/
    padding: 16px;
}

.table-endpoint th, .table-endpoint td
{
    padding-right: 40px;
    padding-left: 40px;
}

.table-endpoint, .table-endpoint:focus
{
    width: fit-content;
    border-radius: 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

.table-endpoint th, .table-endpoint th:hover
{
    background-color: #1a1e26;
    color: white;
}

.table-endpoint th:first-child
{
    border-top-left-radius: 20px;
}

.table-endpoint th:last-child
{
    border-top-right-radius: 20px;
}

.table-endpoint tr:last-child td:first-child
{
    border-bottom-left-radius: 20px;
}

.table-endpoint tr:last-child td:last-child
{
    border-bottom-right-radius: 20px;
}

.table-endpoint tr
{
    background-color: #4d5b63;
    color: white;
}

#div-endpoints p
{
    font-size: 20px;
}