
body {
    font-family: Arial;
    /*margin: 10px 10px 10px 10px;*/
    padding: 0;
    color: white;
    /*text-align: center;*/
    background: #555652;
}

.container {
    text-align: center;
    color: #E8E9EB;
    background: #222;
    /*border: #555652 1px solid;*/
    /*padding: 10px;*/
    left: 900px;
    width: 850px;
    height: 700px;
    float: right;
    position: absolute;
    text-align: center;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    /*padding: 14px 25px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

#car_svg {
    position: absolute;
    float: left;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #a07474;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #65c91e;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}


.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {

    background-color: white;
    color: #070202;
    border: 2px solid #9a1c1c;
}

.button1:hover {
    background-color: #7b0505;
    color: #af9797;
}
#h1{
    text-align: center;
}
#val{
    text-align: center;
}